# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.PickaxesHero.iml
# Datasource local storage ignored files
/../../../../../../:\GitHub\PickaxesHero\.idea\.idea.PickaxesHero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
